# 数据库配置
DB_NAME=multi_tenant_db_dev
DB_USER=root
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=3306

# Django 密钥
SECRET_KEY=django-insecure-change-this-in-production

# 调试模式
DEBUG=True

LOG_TO_CONSOLE=True

# 允许的主机
ALLOWED_HOSTS=localhost,127.0.0.1 




REDIS_URL="rediss://default:AR8EAAImcDIyNDM5Y2MwOWY0OWU0ZDFmYTdkOWNhOWJjMDAxNTA2OXAyNzk0MA@classic-salmon-7940.upstash.io:6379"

# 微信小程序配置
WECHAT_APPID=your_wechat_appid
WECHAT_SECRET=your_wechat_secret